# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log
node_modules/

# Папка с собранными файлами проекта
build/

# Сгенерированный файл
mocks.json

# Фото
src/front-server/upload/img/*
!src/front-server/upload/img/.gitkeep
src/front-server/public/img

# docker, env
docker*
.env

# jest
coverage

